/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-banner {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    position: absolute;
    height: 225%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    background-size: cover;
    border-top: medium;
    height:10px;
    border-color: yellow;
}


.homepost {
    display:flex;
    flex-direction: column-reverse;
    


}

    
        
/* ABOUT PAGE */

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
//side widget area 

.side-widget-area {
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    p, h2 {
        margin: 3px;
        flex-direction: column-reverse;
        line-height: 52px;
        align-content: center;
        justify-content: space-between;
        height: 355px;
    }
}


.site-info{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
























/* footer and sidebar widgets */ 

.site-footer {
    display:flex;
    flex-direction: column;
    background-image: url("../Images/dark-wood@2x.png");
    color:white;
    .footer-area{
        display: flex;
        flex-direction: column;
        
        p, h2 {
            margin: 3px;
            flex-direction: row-reverse;
            line-height: 52px;
            
        }
    }
    
    
    .footer-box1{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        height: 355px;
        margin: 60px 60px -56px 60px;
        .text-logo{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            max-width: 95%;
            padding-bottom: 260px;
            
        }
    }

    .site-info{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}