/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	
	padding-left: 0px;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 0%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
