



.site-header{
    display: flex;
    flex-direction: row;

}
.main-navigation{
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    justify-content: center;
    font-weight: 500;
}
